@media only screen and (max-width: 940px) {
  .menu-btn{
    display: block;
  }

  nav{
    gap: 30px;
  }

  nav ul{
    position: fixed;
    top: 100px;
    left: -100%;
    background: #E0144C;
    height: 100vh;
    width: 100%;
    padding-top: 90px;
    text-align: center;
    flex-direction: column;
    transition: all .5s ease;
  }

  #click:checked ~ .menu-btn i::before{
    content: "\f00d";
  }

  #click:checked ~ ul{
    left: 0;
  }

  nav ul li {
    margin: 30px 0;
  }

  nav ul li a{
    font-size: 25px;
  }







}

@media only screen and (max-width: 688px) {
 
  /* For Service section */
  .service-boxes{
    display: block;
    width: 80%;
  }

  .service-item{
    margin: 30px 0;
  }

  /* For smart section */
  .smart-container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    display: block;
  }

  .smart-container .smart-text {
    margin-top: 30px;
    width: 100%;
  }

  /* For gallery section */
  .gallery-boxes {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .gallery-boxes .box {
    width: 80%;
    margin: 10px auto;
  }

  .box .image{
    height: 55%;
    width: 90%;
  }

  .box .image a img{
    height: 100%;
    width: 100%;
  }

  /* For parallax section */
  #parallax h3{
    font-size: 25px;
    color: #f8f988;
    font-weight: 700;
    text-align: center;
    padding: 80px 0;
  }

  /* For slider section */
  #slider{
    background: linear-gradient(to right, #555, #1d2d50);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* For contact section */
  .contact-form{
    width: 90%;
    margin: 80px auto;
    padding: 1rem;
    box-shadow: 1px 5px 5px #7fa998;
  }

  /* For review section */
  .review-boxes{
    width: 90%;
    margin: 30px auto;
    display: block;
  }

  .review-box{
    display: block;
    margin: 40px 0;
  }

  .review-box .image{
    width: 100%;
    height: 100%;
  }

  .review-box .review-text{
    width: 100%;
  }








}




@media only screen and (min-width: 689px) and (max-width: 1199px) {
  /* For Service section */
  .service-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 30px;
  }

  /* For smart section */
  .smart-container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    display: block;
  }

  .smart-container .smart-text {
    margin-top: 30px;
    width: 100%;
  }

  /* For gallery section */
  .gallery-boxes {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .gallery-boxes .box {
    width: 80%;
    margin: 15px auto;
  }

  .box .image{
    height: 55%;
    width: 90%;
  }

  .box .image a img{
    height: 100%;
    width: 100%;
  }

  /* For parallax section */
  #parallax h3{
    font-size: 25px;
    color: #f8f988;
    font-weight: 700;
    text-align: center;
    padding: 80px 0;
  }

  /* For slider section */
  #slider{
    background: linear-gradient(to right, #555, #1d2d50);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* For contact section */
  .contact-form{
    width: 90%;
    margin: 80px auto;
    padding: 1rem;
    box-shadow: 1px 5px 5px #7fa998;
  }

  /* For review section */
  .review-boxes{
    width: 90%;
    margin: 30px auto;
    display: block;
  }

  .review-box{
    display: block;
    margin: 40px 0;
  }

  .review-box .image{
    width: 100%;
    height: 100%;
  }

  .review-box .review-text{
    width: 100%;
  }

  

  





}