@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}
 
a{
  text-decoration: none;
}

header{
  font-family: 'Inter', sans-serif;
}

header nav{
  display: flex;
  background: #1D2D50;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

nav .logo a{
  font-size: 30px;
  font-weight: 700;
  color: #FFE1E1;  
  display: inline-block;
  padding: 5px 12px;
  border-radius: 30rem;
  box-shadow: 5px 5px 5px #000;
}

nav .logo a span{
  color: #F8F988;
}

nav ul{
  display: flex;
}

nav ul li a{
  font-size: 22px;
  font-weight: 700;
  color: #C3F8FF;
  margin: 0 20px;
  text-transform: capitalize;
  padding: 5px 12px;
  border-radius: 2px 8px;
  transition: .5s;
}

nav ul li a:hover{
  box-shadow: 1px 4px 5px #F9F9F9;
}

.menu-btn{
  font-size: 35px;
  color: #EFEFEF;
  cursor: pointer;  
  transition: .5s;
  display: none;
}

.menu-btn:hover{
  transform: rotate(360deg);
}

#click{
  display: none;
}

/*
=====================================
      2.1 hero-area section css 
=====================================
*/
.hero-area{
  background: url('/images/hero-area-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
}
