@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-btn {
  font-size: 20px;
  font-weight: 600;
  color: #e97878;
  background: #fff;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 30rem;
  padding: 5px 12px;
  box-shadow: 5px 4px 5px #000;
  transition: 0.5s;
}

.site-btn:hover {
  letter-spacing: 3px;
}

header {
  position: fixed;
  top: 0;
  z-index: 111;
  width: 100%;
  font-family: "Inter", sans-serif;
}

header nav {
  display: flex;
  background: #1d2d50;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

nav .logo a {
  font-size: 30px;
  font-weight: 700;
  color: #ffe1e1;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 30rem;
  box-shadow: 5px 5px 5px #000;
}

nav .logo a span {
  color: #f8f988;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #c3f8ff;
  margin: 0 20px;
  text-transform: capitalize;
  padding: 5px 12px;
  border-radius: 2px 8px;
  transition: 0.5s;
}

nav ul li a:hover {
  box-shadow: 1px 4px 5px #f9f9f9;
}

.menu-btn {
  font-size: 35px;
  color: #efefef;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}

.menu-btn:hover {
  transform: rotate(360deg);
}

#click {
  display: none;
}

/*
=====================================
      2.1 hero-area section css 
=====================================
*/
.hero-area {
  background: url("/images/hero-area-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
/*
=====================================
      2.2 services section css 
=====================================
*/
#services {
  padding: 80px 0;
  background: #f9f9f9;
}

.service-tittle h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2b4f60;
  text-align: center;
}

.service-tittle h2 span {
  color: #e0144c;
}

.service-tittle p {
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.service-boxes {
  width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.service-item {
  padding: 1rem;
  border: 5px groove #000;
  transition: 0.5s;
}

.service-item:hover {
  box-shadow: 15px 15px 15px #2b4f60;
}

.service-item legend i {
  font-size: 30px;
  margin: 0 20px;
  color: #7fa998;
  transition: 0.5s;
}

.service-item:hover legend i {
  transform: rotate(360deg);
}

.service-item h3 {
  color: #e0144c;
  font-size: 25px;
  text-align: center;
}

.service-item p {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  text-align: justify;
  line-height: 1.2;
  margin: 20px 0;
}

/*
=====================================
      2.3 smart section css 
=====================================
*/
#smart {
  padding: 60px 0;
}

#smart h2 {
  font-size: 40px;
  font-weight: 700;
  color: #e0144c;
  text-align: center;
}

#smart h2 span {
  color: #2b4f60;
}

.smart-container {
  padding-top: 50px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.smart-container .image {
  height: 50%;
  overflow: hidden;
}

.smart-container .image a img {
  width: 100%;
  transition: 0.5s;
}

.smart-container .image a img:hover {
  transform: scale(1.3);
}

.smart-container .smart-text {
  width: 30%;
}

.smart-text h3 {
  font-size: 30px;
  font-weight: 600;
  color: #e0144c;
}

.smart-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding: 20px 0;
  text-align: justify;
}
/*
=====================================
      2.4 gallery section css 
=====================================
*/
#gallery {
  padding: 80px 0;
  background: #f8f988;
}

#gallery h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2b4f60;
  text-align: center;
}

#gallery h2 span {
  color: #e0144c;
}

#gallery p {
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.gallery-boxes {
  background: #f9f9f9;
  padding: 1rem;
  box-shadow: 15px 5px 15px #000;
  width: 1400px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-boxes .box {
  text-align: center;
  margin: 1rem;
  padding: 1.5rem 0;
  box-shadow: 1px 5px 8px #e97878;
}

.box .icons a {
  font-size: 20px;
  color: #e0144c;
  margin: 5px 1rem;
  padding: 0.5rem;
  border: 2px solid #555;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5;
  height: 3rem;
  width: 3rem;
  box-shadow: 1px 4px 5px #000;
  transition: .5s;
}

.box .icons a:hover{
  color: #1d2d50;
  border: 2px solid #e0144c;  
}

.box .image{
  border-radius: 5px;
  box-shadow: 15px 15px 15px #000;  
  margin: 1rem;
  height: 280px;
  width: 380px;
  overflow: hidden;
}

.box a img {
  height: 100%;
  width: 100%;
  transition: .5s;
}

.box:hover a img{
  transform: scale(1.3);
}

.watches-details{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.watches-details h5,
.watches-details span{
  font-size: 18px;
  font-weight: 600;
  color: #06067f;
}
/*
=====================================
      2.6 parallax section css 
=====================================
*/
#parallax{
  background: url("images/parallax-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#parallax h3{
  font-size: 35px;
  color: #f8f988;
  font-weight: 700;
  text-align: center;
  padding: 150px 0;
}

/*
=====================================
      2.7 slider section css 
=====================================
*/
#slider{
  background: linear-gradient(to right, #555, #1d2d50);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-content{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }

  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider-content span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider-content span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: 2s;
}

.slider-content span:hover img{
  transform: translateY(-50px) scale(1.3);
}